/bwgrid.jpg
/example.eps
/usrguid3.dvi
/usrguid3.pdf
/tmp
/template_CGIconf.pdf
/template_CGIcon.synctex.gz
/template_CGIconf.synctex.gz
/CGI2013.pdf
/CGI2013.synctex.gz
/template_CGIconf.synctex.gz.orig
/CA.synctex.gz

/CAD.aux

/CAD.log

/CAD.spl

/CAD.pdf

/CAD.synctex.gz

*.pdf