/bwgrid.jpg
/example.eps
/usrguid3.dvi
/usrguid3.pdf
/tmp
/template_CGIconf.pdf
/template_CGIcon.synctex.gz
/template_CGIconf.synctex.gz
/CGI2013.pdf
/CGI2013.synctex.gz
/template_CGIconf.synctex.gz.orig
